<div class="feedback-reply">
  <div class="content-with-upvote">
    <div class="upvote-block">
      <button class="upvote-btn">👍</button>
      <!-- TODO: Add reply upvotes when seed file has them-->
      <div class="upvote-count"><%= 12 %></div>
    </div>
    <p><strong><%= reply.user.first_name %>:</strong> <%= reply.content %></p>
  </div>
</div>
