// Define variables for your color scheme

// For example:
$dark-red: #720026;
$light-orange: #f7b267;
$aqua: #0f4c5c;
$orange: #ff7f51;
$salmon: #f25c54;
$maroon: #4f000b;
$lighter-orange: #ffe8cf;
$red: #941b0c;
$light-maroon: #7A494F;
$light-pink: #fabebb;
$lightish-orange: #ffa585;
$light-yellow: #fad1a4
