.home {
  /* Fill the entire viewport, no scrolling */
  position: fixed;   /* fixes the container to the viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;  /* hide any overflow to remove scrollbars */
  background-image: linear-gradient(to bottom right, $primary, $secondary, $success);
  /* Center all content within this container */
  display: flex;
  flex-direction: column;
  justify-content: center; /* vertical centering */
  align-items: center;     /* horizontal centering */

}
.home h1 {
  font-size: 4.5rem;      // Similar to display-3
  font-weight: 700;       // fw-bold
  margin-bottom: 1.0rem;  // mb-4
}

.home h3 {
  font-weight: 700;       // fw-bold
  margin-bottom: 2.0rem;  // mb-2
}

.login-container {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem; // Replicates Bootstrap's m-3
}

.steps-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 3rem;
  margin-bottom: 2rem;
  max-width: 80%;
  flex-wrap: wrap; // Wrap the steps if they overflow the container
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 250px;
}

// Circle styling for the step number
.step-number {
  background: $success;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}
