.post-and-feedback-wrapper {
  display: flex;
  align-items: start;
  gap: 16px;
  flex-direction: row-reverse;
}

/* Styles for the post header */
.post-header {
  /* Add styles for the post header here */
}

/* Styles for the edit form */
.edit-form {
  /* Add styles for the edit form here */
}

/* Styles for the link */
.post-and-feedback-wrapper a {
  /* Add styles for the link here */
}

/* Styles for the parent container */
.container.mt-4 {
  background-color: transparent; /* Background color */
  color: rgb(79, 0, 11); /* Text color */
  display: block; /* Display type */
  padding: 0px 12px; /* Padding */
  margin: 24px 39.5px 0px; /* Margin */
  width: 1140px; /* Width */
  height: 718px; /* Height */
}

.post-content{
  display: flex;
  position: static;
  width: 673.5px;
  height: 1128.5px;
  margin: 0px;
  padding: 0px;
  border: 0px none rgb(79, 0, 11);
  background-color: rgba(0, 0, 0, 0);
  box-shadow: none;
  border-radius: 0px;
  font-family: "DM Sans", Helvetica, Arial, sans-serif;
  font-size: 20px;
  color: rgb(79, 0, 11);
  text-align: start;
  line-height: 30px;
  opacity: 1;
  z-index: auto;
  overflow: visible;
  flex-direction: column;
  align-items: normal;
  justify-content: normal;
  flex-wrap: nowrap;
  gap: 10px;
}

.post-info {
  display: flex;
  position: static;
  width: 673.5px;
  height: 1128.5px;
  margin: 0px 0px 16px;
  padding: 0px;
  border: 0px none rgb(79, 0, 11);
  background-color: rgba(0, 0, 0, 0);
  box-shadow: none;
  border-radius: 0px;
  font-family: "DM Sans", Helvetica, Arial, sans-serif;
  font-size: 20px;
  color: rgb(79, 0, 11);
  text-align: start;
  line-height: 30px;
  opacity: 1;
  z-index: auto;
  overflow: visible;
  flex-direction: column;
  align-items: normal;
  justify-content: normal;
  flex-wrap: nowrap;
  gap: 10px;
}
