<div class="home">

  <h1>Welcome to Forge</h1>
  <h3>THE place for breaking through YOUR creative block!</h3>

  <div class="steps-container">
    <div class="step">
      <div class="step-number">1</div>
      <div class="step-content">
        <h4>Describe your project</h4>
        <p>Tell us what you're working on and get instant inspiration.</p>
      </div>
    </div>
    <div class="step">
      <div class="step-number">2</div>
      <div class="step-content">
        <h4>Generate & refine ideas</h4>
        <p>Use AI to spark ideas, then edit them to fit your needs.</p>
      </div>
    </div>
    <div class="step">
      <div class="step-number">3</div>
      <div class="step-content">
        <h4>Share & get feedback</h4>
        <p>Post your idea and see what others think!</p>
      </div>
    </div>
  </div>


  <div>
    <%= link_to "Get Started Now",
          (user_signed_in? ? new_initial_question_path : new_user_session_path),
          class: "btn btn-primary" %>
  </div>
</div>
