<div class="home">

  <h1>Welcome to Forge</h1>
  <h3>THE place for breaking through YOUR creative block!</h3>

  <div class="steps-container">
    <div class="step">
      <div class="step-number">1</div>
      <h4>Describe your project</h4>
      <p>Tell us what you're working on and get instant inspiration.</p>
    </div>
    <div class="step">
      <div class="step-number">2</div>
      <h4>Generate & refine ideas</h4>
      <p>Use AI to spark ideas, then edit them to fit your needs.</p>
    </div>
    <div class="step">
      <div class="step-number">3</div>
      <h4>Share & get feedback</h4>
      <p>Post your idea and see what others think!</p>
    </div>
  </div>


  <div>
    <%= link_to "Get Started Now", "/users/sign_up", class: "btn btn-primary" %>
  </div>
</div>
