<h1>UI Kit</h1>
<h2>Bootstrap Theme Preview</h2>

<div>
  <h3>Buttons</h3>
  <button class="btn btn-primary">Primary</button>
  <button class="btn btn-secondary">Secondary</button>
  <button class="btn btn-success">Success</button>
  <button class="btn btn-danger">Danger</button>
  <button class="btn btn-warning">Warning</button>
  <button class="btn btn-info">Info</button>
  <button class="btn btn-light">Light</button>
  <button class="btn btn-dark">Dark</button>
</div>
<div>
  <h3>Alerts</h3>
  <div class="alert alert-primary" role="alert">Primary Alert</div>
  <div class="alert alert-secondary" role="alert">Secondary Alert</div>
  <div class="alert alert-success" role="alert">Success Alert</div>
  <div class="alert alert-danger" role="alert">Danger Alert</div>
  <div class="alert alert-warning" role="alert">Warning Alert</div>
  <div class="alert alert-info" role="alert">Info Alert</div>
  <div class="alert alert-light" role="alert">Light Alert</div>
  <div class="alert alert-dark" role="alert">Dark Alert</div>
</div>
