<div class="container">
  <h1>UI Kit</h1>
  <h2>Bootstrap Theme Preview</h2>

  <div>
    <h3>Buttons</h3>
    <button class="btn btn-primary">Primary</button>
    <button class="btn btn-secondary">Secondary</button>
    <button class="btn btn-success">Success</button>
    <button class="btn btn-danger">Danger</button>
    <button class="btn btn-warning">Warning</button>
    <button class="btn btn-info">Info</button>
    <button class="btn btn-light">Light</button>
    <button class="btn btn-dark">Dark</button>
  </div>
  <div class="mb-5">
    <h2>Typography</h2>

    <h1>Heading 1 - The quick brown fox jumps over the lazy dog</h1>
    <h2>Heading 2 - The quick brown fox jumps over the lazy dog</h2>
    <h3>Heading 3 - The quick brown fox jumps over the lazy dog</h3>
    <h4>Heading 4 - The quick brown fox jumps over the lazy dog</h4>
    <h5>Heading 5 - The quick brown fox jumps over the lazy dog</h5>
    <h6>Heading 6 - The quick brown fox jumps over the lazy dog</h6>
    <p>The quick brown fox jumps over the lazy dog</p>
    <p><strong>The quick brown fox jumps over the lazy dog</strong></p>
    <p><em>The quick brown fox jumps over the lazy dog</em></p>
    <ul>
      <li>The quick brown fox jumps over the lazy dog</li>
      <li>The quick brown fox jumps over the lazy dog</li>
    </ul>
    <ol>
      <li>The quick brown fox jumps over the lazy dog</li>
      <li>The quick brown fox jumps over the lazy dog</li>
    </ol>
  </div>

  <form class="custom-form" action="#" method="post">

    <div class="custom-form-bubble">
      <label for="title">I am a...</label>
      <input type="text" id="title" name="title" placeholder="Web developer, street photographer, student journalist...">
    </div>

    <div class="custom-form-bubble">
      <label for="framework">Select Idea Framework</label>
      <select id="framework" name="framework">
        <option disabled selected>Drop down framework selector</option>
        <option>Framework 1</option>
        <option>Framework 2</option>
      </select>
    </div>

    <div class="custom-form-bubble">
      <label for="category">Seeking inspiration for a...</label>
      <input type="text" id="category" name="category" placeholder="Webapp, photo project, long form article...">
    </div>

    <div class="custom-form-bubble">
      <label for="interests">I am interested in...</label>
      <input type="text" id="interests" name="interests" placeholder="Tech, food, community driven platforms, London at night, student politics...">
    </div>

    <div class="custom-form-bubble">
      <label for="additional-info">Additional information</label>
      <textarea id="additional-info" name="additional_info" placeholder="• My project needs to be completed in X weeks
        • I am working in a team of X
        • I am an experienced professional, student, complete novice...
        • I will be using a film camera, Figma, Ruby on Rails..."></textarea>
    </div>

    <button type="submit" class="btn-primary">Ideas await...</button>

  </form>


</div>
