<div class="feedback-card">
  <div class="content-with-upvote">
    <div class="upvote-block">
      <button class="upvote-btn">👍</button>
      <!-- TODO: Add feedback upvotes when seed file has them-->
      <div class="upvote-count"><%= 12 %></div>
    </div>
    <p><strong><%= feedback.user.first_name %>:</strong> <%= feedback.content %></p>
  </div>

  <!-- Replies -->
  <% feedback.replies.each do |reply| %>

  <% end %>
</div>
