<h1>Posts#index</h1>
<div class="container">
  <% @posts.each do |post| %>
    <!-- clickable card -->
    <%= link_to "#" do %>
      <div class = "card justify-content-between">
        <%# left side div %>
        <div class="d-flex flex-column align-items-center">
          <div>
            <%= post.upvotes %>
          </div>
          <div class="d-flex align-items-center">
            <h5><%= post.title %></h5>
            <p><%= post.tagline %></p>
          </div>
        </div>

      </div>
    <% end %> <!-- end clickable card -->
  <% end %>
</div>
