.btn {
  border-radius: 10px;
  padding: 0.75rem 1.5rem;
  font-weight: 515;
  font-size: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

  &:hover {
    transform: translateX(-2px) translateY(-2px); // "lift" effect on hover
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); // stronger shadow
  }
}

// icon button styling on New/Edit/Post idea pages
.icon-button-container {
  height: 100%;
  position: sticky;
  top: 130px;
  margin-top: 8px;
  gap: 16px;

  .icon-button {
    height: 100%;
    padding: 16px 16px;
    align-items: center;
    justify-content: center;
    display: flex;

    i{
      font-size: 48px;
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .icon-button-description {
    position: absolute;
    left: 100px;
    top: 16px;
    opacity: 0;
    transition: 0.2s linear;

    &:hover {
      opacity: 1;
    }

    // quick transition when finished hovering
    &:not(:hover) {
      transition: 0.2s ease-out;
    }
  }

  .icon-button:hover .icon-button-description {
    opacity: 1;
  }
}
