.btn {
  border-radius: 10px;
  padding: 0.75rem 1.5rem;
  font-weight: 515;
  font-size: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

  &:hover {
    transform: translateX(-2px) translateY(-2px); // "lift" effect on hover
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); // stronger shadow
  }
}
