.custom-card-container {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
}

.custom-card {
  border-radius: 16px;
  background-color: mix(white, $primary, 50%);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  border: 1px solid mix(white, $secondary, 50%);
  padding: 16px;
  margin: 16px;
  width: 250px;
  height: 250px;
  overflow: hidden;
}

.custom-card-link {
  text-decoration: none;
  color: inherit;
}

.new-idea {
  font-size: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-card-title {
  font-weight: bold;
  font-size: 16px;
  margin: 0;
}

.custom-card-tagline {
  font-size: 14px;
}

.custom-card-summary {
  font-size: 12px;
}
