.custom-card-container {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
}

.custom-card {
  border-radius: 16px;
  background-color: mix(white, $primary, 50%);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  border: 1px solid mix(white, $secondary, 50%);
  padding: 16px;
  margin: 16px;
  width: 400px;
  height: 400px;
  overflow-y: auto;
  scrollbar-width: none;

  h3 {
    font-weight: bold;
  }

  h5 {
    font-style: italic;
  }

  p {
    text-align:left;
    margin: 0;
  }

  &:hover {
    transform: scale(1.02);
    transition: transform 0.6s ease;
  }

}

.custom-card-link {
  text-decoration: none;
  color: inherit;
}

.custom-card-top {
  display: grid;
  grid-template-columns: 80% 20%;
  position: relative;

  .post-upvote {
    justify-self: end;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;

  }
}

.new-idea {
  font-size: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

// initial question show cards
.ideas-card {
  text-decoration: none;
  color: $body-color;
  border-radius: 16px;
  background-color: mix(white, $primary, 50%);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  border: 1px solid mix(white, $secondary, 50%);
  padding: 16px;

  h3 {
    font-weight: bold;
  }

  h5 {
    font-style: italic;
  }

  p {
    text-align:left;
    margin: 0;
  }
}

.ideas-card:hover {
  transform: scale(1.02);
  transition: transform 0.6s ease;
}


.btn-no-border {
  border: none;
}
