.feedback-card {
  background-color: $feedback-orange;
  border: $border-width-med solid $success;
  border-radius: 12px;
  padding: 12px;
  margin-bottom: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);

  p {
    margin: 0;
  }
}

.content-with-upvote {
  display: flex;
  align-items: center;
  gap: 12px;
}

.hidden-replies {
  display: none;
}

.see-replies-btn {
  background: none;
  border: none;
  color: $danger;
  cursor: pointer;
  text-decoration: underline;
}

.replies-with-form {
  margin-left: 48px;
  margin-top: 8px;
  padding: 12px;
  background-color: mix($feedback-orange, white, 80%);
  border-radius: 12px;
  border: $border-width-med solid $secondary;

  .feedback-reply {
    margin-bottom: 4px;
  }

  .reply-form {
    display: flex;
    align-items: center;
    gap: 8px;

    .mb-3 {
      margin-bottom: 0 !important; // Force remove Bootstrap's margin
    }

    .form-group {
      flex-grow: 1;
      margin-bottom: 0;
    }

    textarea {
      border-radius: 8px;
      border: $border-width-sm solid $success;
      max-height: 1.5rem;
      resize: none;
      margin-bottom: 0;
      background-color: mix($feedback-orange, white, 40%);

      &:focus {
        border: $border-width-sm solid $success;
        background-color: mix($feedback-orange, white, 40%);
      }
    }

    .btn-icon {
      background: none;
      border: none;
      padding: 4px;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      i {
        font-size: 1.5rem;
        color: $danger
      }

      &:hover i {
        transform: translateY(-2px);
      }
    }
  }
}
