.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px;
  font-weight: 515;
  font-size: 1rem;
  background-color: $lighter-orange;
  z-index: 1000;
 .about {
  color: $maroon;
  text-decoration: none;
}

}

.with-navbar-footer {
  padding-bottom: 100px; /* Prevents content from hiding behind the footer */
}
