.custom-form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  .custom-form-bubble {
    background: $primary;
    border-radius: 16px;
    border: 8px solid $success;
    display: flex; // ✅ Make it flex
    align-items: top;

    input,
    select,
    textarea {
      flex: 1;
      background: $secondary;
      border: none;
      border-radius: 8px;
      padding: 0px 8px;
    }

    label {
      padding: 0px 8px;
    }
  }
}
