.custom-form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  .custom-form-bubble {
    background: $primary;
    border-radius: 16px;
    border: 8px solid $success;
    display: flex; // ✅ Make it flex
    align-items: top;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

    input,
    select,
    textarea {
      flex: 1;
      background: $secondary;
      border: none;
      border-radius: 8px;
      padding: 0px 8px;
      color: $body-color;
      font-weight: 400; // Normal weight

      &::placeholder {
        color: mix($body-color, white, 70%);
        font-weight: 300; // Light placeholder
        opacity: 0.7;
      }

      &:focus {
        outline: none;
      }
    }

    textarea {
      min-height: 100px;
    }

    label {
      padding: 0px 8px;
      font-weight: 500; // Bold label
    }

    // TODO: Fix select dropdown so selected item has normal weight and color

    select {
      color: mix($body-color, white, 70%); // Light color until option is selected
      font-weight: 300;
      opacity: 0.7;
      option {
        color: $body-color;
        font-weight: 400;
        opacity: 1; // Normal weight for real options
      }
    }
  }

  .btn {
    min-width: 100%;
  }
}


// Form for Ideas#edit
.edit-form {
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.edit-form-inputs {
  flex-grow: 1;
}

.edit-form-input {
  border: 0;
  background-color: $primary;
  padding-left: 8px;

  &:focus {
    outline: none;
  }
}

.edit-form-title {
  font-size: 32px;
  font-weight: bold;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.edit-form-heading {
  font-size: 28px;
  font-weight: bold;
}

.edit-form-tagline {
  font-size: 20px;
  font-weight: 600;
}

.edit-form-summary {
  font-size: 14px;
}

.edit-form-buttons {
  height: 100%;
  position: sticky;
  top: 100px; // account for the navbar being sticky as well
}

.edit-form button {
  border: 0;
  background-color: inherit;
  font-size: xx-large;
}

.edit-form-last {
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.new-form-input {
  border: 0;
  background-color: mix($success, white, 50%);
  padding-left: 8px;

  &:focus {
    outline: none;
  }
}

.post-section-wrapper.excluded {
  opacity: 0.4; // greyed out look
}
