.navbar-lewagon {
  position: fixed; /* Makes the navbar stick to the top */
  top: 0;
  left: 0;
  width: 100%;
  background: $lighter-orange;
  padding: 1.5rem 1.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Adds shadow for better visibility */
  z-index: 1000; /* Makes the navbar appear above other elements */
}

.navbar-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  font-weight: bold;
  color: $maroon;
  margin: 0;
  white-space: nowrap;
  padding: 0;
}

.navbar-title-link {
  text-decoration: none;
  color: inherit;
}

.navbar-lewagon .navbar-brand img {
  width: 70px;
  height: 50px;
}

.flex-box {
  display: flex;
}

.btn_nav {
  border-radius: 10px;
  padding: 0.8rem 1rem;
  font-weight: 515;
  font-size: 1rem;
  background-color: $light-orange;
  color: $maroon;
  text-decoration: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s ease, box-shadow 0.2s ease, background-color 0.3s ease;
  margin-right: 10px;
  display: inline-block;
}

.btn_nav:hover {
  background-color: $orange; /* Slightly darker shade */
  transform: translateX(-2px) translateY(-2px); /* Moves the button slightly */
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2); /* Adds a more pronounced shadow */
}

.align-button {
  display: flex;
  align-items: center;
}

a.avatar.dropdown-toggle::after {
  display: none;
}

.with-navbar-footer {
  padding-top: 100px; /* Prevents content from hiding behind the navbar */
}

@media (min-width: 1200px) {
  .btn_nav {
    padding: 0.8rem 1.5rem;
  }
}
