.post-card-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.post-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  margin-bottom: 12px;
  border: $border-width-sm solid $secondary;
  border-radius: 12px;
  background-color: $pinksheet;

  &:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
  }
}

.post-card-left {
  display: flex;
  align-items: center;
}

.post-info {
  margin-left: 12px;

  h5.post-title {
    font-size: 18px;
    margin: 0 0 4px;
    font-weight: 600;
  }

  p.post-tagline {
    margin: 0;
    font-style: italic;
  }
}

.post-card-right {
  display: flex;
  align-items: center;
  gap: 12px;
}
