.tag {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 30px;  // Creates the pill shape
  background-color: $primary;
  color: inherit;  // Inherit the text color from the parent
  font-size: 20px;
  text-align: center;
  border: 4px solid $success;
  min-width: 120px;
}

.tag.pressed {
  box-shadow: inset 0 6px 6px rgba(0, 0, 0, 0.4); // Adds a shadow to simulate depth
}

.tag.small {
  padding: 5px 10px;
  font-size: 16px;
  min-width: 80px;
}

.tag-static {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 30px;  // Creates the pill shape
  background-color: $primary;
  color: inherit;  // Inherit the text color from the parent
  font-size: 20px;
  text-align: center;
  border: 4px solid $success;
  min-width: 120px;
}

.tags-search-container {
  display: flex;
  direction: row;
  gap: 20px;
  margin-bottom: 20px;
}

.tags-selected-container {
  display: flex;
  gap: 20px;
}

// overriding style from tom select
.ts-control {
  background-color: $primary;
  border-radius: 50px;
  height: 50px;
  width: 200px;
}

.ts-dropdown {
  background-color: $primary;

  .active {
    background-color: $light-gray;
  }
}
