.tag {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 30px;  // Creates the pill shape
  background-color: $primary;
  color: inherit;  // Inherit the text color from the parent
  font-size: 20px;
  text-align: center;
  border: 4px solid $success;
  min-width: 120px;
}

.tag.pressed {
  box-shadow: inset 0 6px 6px rgba(0, 0, 0, 0.4); // Adds a shadow to simulate depth
}

.tag.small {
  padding: 5px 10px;
  font-size: 16px;
  min-width: 80px;
}

.tag-static {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 30px;  // Creates the pill shape
  background-color: $primary;
  color: inherit;  // Inherit the text color from the parent
  font-size: 20px;
  text-align: center;
  border: 4px solid $success;
  min-width: 120px;
}

.tags-search-container {
  position: relative;
  display: flex;
  direction: row;
  gap: 20px;
  margin-bottom: 20px;
}

.search-icon {
  position: absolute;
  top: 10px;
  left: 15px;
  z-index: 2; // this allows to draw the icon above the search box
}

.tags-selected-container {
  display: flex;
  gap: 20px;
}

// overriding style from tom select
.ts-control {
  background-color: $primary !important;
  border-radius: 50px;
  height: 50px;
  width: 200px;
  padding-left: 50px !important;

  input {
    font-size: large;
  }
}

.ts-dropdown-content {
  background-color: $primary;
  font-size: larger;

  .active {
    background-color: $lighter-orange;
  }
}
